version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - ./apps/web/.env

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - ./apps/api:/app
